.loaderParent{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.411);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loaderChild{
    height: 35px;
    width: 35px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #0061ff;
    border-radius: 50%;
    -webkit-animation: spin 0.6s linear infinite;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {

    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
    
}